<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <title>requirements.txt-Generator</title>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="description" content="requirements.txt-Generator" />
        <link rel="stylesheet" type="text/css" href="../layouts/style.css" />
    </head>
    <body>
        <header>
            <h1>requirements.txt-Generator</h1>
        </header>
        <nav>
            {nav}
        </nav>
        <main>
            <section>
                <ul id="entries">
                    
                </ul>
            </section>
            <section>
                <ul id="entries">
                    
                </ul>
            </section>
            <section>
                <textarea></textarea>
                <aside>
                    <button id="btn-download">Herunterladen</button>
                    <button id="btn-copy">In die Zwischenablage kopieren</button>
                    <button id="btn-share">Teilen</button>
                </aside>
            </section>

            <pre>
            {main}
            </pre>
        </main>
        <footer>
            <small>© <script>document.write(new Date().getFullYear())</script> Lukas Lang-Lajend&auml;cker, Andris Jefimovs</small>
        </footer>
        <script src="../layouts/script.js"></script>
    </body>
</html>
