<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>requirements.txt-Generator</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="requirements.txt-Generator">
        <link rel="stylesheet" type="text/css" href="../layouts/style.css">
    </head>
    <body>
        <header>
            <h1>requirements.txt-Generator</h1>
        </header>
        <nav>
            {nav}
        </nav>
        <main>
            <section>
			    <h2>Eingaben</h2>
				<form>
					<label for="input-type"><span>Art</span>
					<input id="input-type" type="text" list="l-types">
					<datalist id="l-types">
						<option>Name</option>
						<option>URL</option>
						<option>Lokal</option>
					</datalist></label>
					<label for="input-name"><span>Name</span>
					<input id="input-name" type="text" list="l-names">
					<datalist id="l-names">
						<option>numpy</option>
						<option>opencv</option>
						<option>time</option>
					</datalist></label>
					<label for="cb-start"><span>von</span>
					<input id="cb-start" type="checkbox" list="l-start"></label>
					<label for="input-start"><span>Version</span>
					<input id="input-start" type="text" list="l-end">
					<datalist id="l-start">
						<option>1</option>
						<option>2</option>
						<option>3</option>
					</datalist></label>
					<label for="cb-end"><span>bis</span>
					<input id="cb-end" type="checkbox"></label>
					<label for="input-end"><span>Version</span>
					<input id="input-end" type="text" list="l-end">
					<datalist id="l-end">
						<option>1</option>
						<option>2</option>
						<option>3</option>
					</datalist></label>
					<label for="input-custom"><span>Benutzerdef.</span>
					<input id="input-custom" type="text"></label>
					<button id="btn-new-package">+</button>
				</form>
                <ul id="entries">
                    
                </ul>
            </section>
            <section>
			    <h2>cs und rs</h2>
                <label for="input-r">-r</label>
                <input id="input-r">
                <button id="btn-r">+</button>
				<ol id="r-field"></ol>
                <label for="input-c">-c</label>
                <input id="input-c">
                <button id="btn-c">+</button>
				<ol id="c-field"></ol>
            </section>
            <section>
			    <h2>Ergebnis</h2>
                <textarea id="output"></textarea>
                <button id="btn-generate">gen</button>
                <aside>
                    <button id="btn-download">Herunterladen</button>
                    <button id="btn-copy">In die Zwischenablage kopieren</button>
                    <button id="btn-share">Teilen</button>
                </aside>
            </section>

            <pre>
            {main}
            </pre>
        </main>
        <footer>
            <small>© <script>document.write(new Date().getFullYear())</script> Lukas Lang-Lajend&auml;cker, Andris Jefimovs</small>
        </footer>
        <script src="../layouts/script.js"></script>
    </body>
</html>
